@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&display=swap');
@import './showcase';
@import './grid';
@import './core';


$theme-colors: (
    // Custom color palette. (feel free to edit)
    "primary":#227093,
    "secondary":#84817a,
    "success":#218c74,
    "danger":#b33939,
    "warning":#cc8e35,
    "info":#34ace0,
    "light":#f7f1e3,
    "dark":#000,
    "muted":#aaa69d
);

h1,h2,h3,h4,h5,h6{
    font-family:'Open Sans', sans-serif;
}


body{
    background-color: white;
}


.btn{
    position: relative;
    display: inline-block;
    padding: .375rem .75rem;
    margin: 10px 0;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    border-radius:.25rem;
    overflow: hidden;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    
    &:hover{
        cursor: pointer;
    }
    
   span{
       position: absolute;
       background: #fff;
       transform: translate(-50%, -50%);
       pointer-events: none;
       border-radius:50%;
       animation: animate 1s linear infinite;

   }
    
}

.badge{
    background-color: transparent;
    height: 20px;
    width: 20px;
    color: #fff;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items:center;
    padding:10px;
    border-radius: 10px;
    cursor:pointer;

    &:hover{
        cursor: pointer;
    }
 }















@keyframes animate {
    0%{
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}
@each $name,$color in $theme-colors{
    .btn-#{$name}{
        background: $color;
        color: #fff;
        position: relative;
    display: inline-block;
    padding: .375rem .75rem;
    margin: 10px 0;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    border-radius:.25rem;
    overflow: hidden;
    
    font-family: 'Montserrat', sans-serif;
    
    &:hover{
        cursor: pointer;
    }
    
   span{
       position: absolute;
       background: #fff;
       transform: translate(-50%, -50%);
       pointer-events: none;
       border-radius:50%;
       animation: animate 1s linear infinite;

   }
    }

    
.badge-#{$name}{
    background-color:$color;
    height: 20px;
    width: 20px;
    color: #fff;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items:center;
    padding:10px;
    border-radius: 10px;
 }
}
.btn-light, .badge-light{
    color: #333;
}